# TEMPLATES

## Adding content for checks

In [6]:
import pandas as pd

# Let's create a sample dataframe
data = {
    "name": ["John", "Jane", "Jim", "Janet"],
    "age": [25, 30, 35, 40],
    "location": ["New York", "Chicago", "Los Angeles", "Miami"],
}
df = pd.DataFrame(data)

# Now let's print out the dataframe
display(df)

    name  age     location
0   John   25     New York
1   Jane   30      Chicago
2    Jim   35  Los Angeles
3  Janet   40        Miami